BASEURL=https://dev.paques.dev:1111

## Credential PDS
PDS_USERNAME=dika.brenda@paques.id
PDS_PASSWORD=Qwerty*123

PDS_ADMIN_USERNAME=dikatama1627@gmail.com
PDS_ADMIN_PASSWORD=Dika!627

PDS_INVALID_USERNAME=dikabrenda
PDS_INVALID_PASSWORD=Qwerty*123

CAPCHA=12345

## Query Data
PDS_QUERY_SEARCH_FILE=search from file '/Brenda_Test/paques_data.csv' into testData;
PDS_QUERY_SPLIT_EVENT=search from file '/Data_Penjualan/data_penjualan.csv' into test; extract using split _event ',' as NoPesanan, StatusPesanan, AlasanPembatalan from test into test2;
PDS_QUERY_TABULAR_VIEW=config file csv '/Brenda_Test/paques_data.csv' SEPARATOR ',' HEADERPOS 0 TRIMSPACE TRUE VALIDATE TRUE; SELECT * FROM CSV '/Brenda_Test/paques_data.csv' limit 999999999 INTO data;
PDS_QUERY_FILTER_ON=
PDS_QUERY_DROP_TABLE=

PDS_INVALID_QUERY=search from file '/Data_Penjualan/data_penjualan.csv';