BASEURL=https://dev.paques.dev:1111

## Credential PDS
PDS_USERNAME=dika.brenda@paques.id
PDS_PASSWORD=Qwerty*123

ADMIN_PDS_USERNAME=dikatama1627@gmail.com
ADMIN_PDS_PASSWORD=Dika!627

INVALID_PDS_USERNAME=dikabrenda
INVALID_PDS_PASSWORD2=Qwerty*123

## Query Data
PDS_QUERY_SEARCH_FILE=search from file '/Brenda_Test/paques_data.csv' into testData
PDS_QUERY_SPLIT_EVENT=search from file '/Data_Penjualan/data_penjualan.csv' into test; extract using split _event ',' as NoPesanan, StatusPesanan, AlasanPembatalan from test into test2;
PDS_QUERY_TABULAR_VIEW=config file csv '/Brenda_Test/paques_data.csv' SEPARATOR ',' HEADERPOS 0 TRIMSPACE TRUE VALIDATE TRUE; SELECT * FROM CSV '/Brenda_Test/paques_data.csv' limit 999999999 INTO data

CAPCHA=12345